.fl{
	float: left;
}
.fr{
	float: right;
}
ul li{
	list-style: none;
}
ul{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f6f6f6;
}
/* 通用原子类 */
.clearFix { *zoom: 1; }
.clearFix:before, .clearFix:after {
    content: " ";
    display: table;
    clear: both;
}
a{
	color: #000;
}
.mt10{
	margin-top: 10px;
}
.por{
	position: relative;
}

.mui-content{
	overflow: scroll;
}
img{
	 max-width: 100%;
    vertical-align: middle;
}

body,html{
	max-width: 750px;
	min-width: 320px;
	margin: 0 auto;
}
.wrap{
	width:100%;
}

.mui-active{
	border-bottom: 1px solid red;
}

.box{
	padding:44px 0 50px 0;
}
.san{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #eee;
}
.san ul li{
	width: 33.3%;
	height: 40px;
	float: left;
	position: relative;
}
.san ul li a{
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: #666;
}
.san ul li.active{
	background-color: #eaeaea;
}
.san ul li .shaixuan{
	display: inline-block;
	height: 40px;
	width: 40px;
	background: url(../images/tabfilter.png) no-repeat right center;
	-webkit-background-size: 15px 15px;
	background-size: 15px 15px;
	position: absolute;
	right: 25px;
	top: 0;
}

.content{
	width:100%;
	height: auto;
}
.content ul li .con_top{
	font-size: 14px;
	padding: 10px 0;
	
}
.content ul li{
	margin-bottom: 10px;
	background-color: #fff;
}
.content ul li .con_top a{
	display: inline-block;
    width: auto;
    height: 14px;
    line-height: 14px;
    border-left: 2px solid #f54744;
    padding-left: 13px;
    font-size: 14px;
    color: #333;
}
.content ul li .con_top a span{
	display: inline-block;
    width: auto;
    height: auto;
    background: url(../images/inmore.png) no-repeat right center;
    padding-right: 20px;
    background-size: 5px 10px;
}
.content ul li .con_btm{
	padding: 0 15px 15px 15px;
	position: relative;
}
.content ul li .con_btm .con_btm_l{
	width: 120px;
	height: 120px;
}
.content ul li .con_btm .con_btm_l img{
	border-radius: 5px;
}
.content ul li .con_btm .con_btm_r{
	width:auto;
	height: auto;
	margin-left: 20px;
}
.content ul li .con_btm .con_btm_r a{
	font-size: 14px;
	color: #333;
}
.content ul li .con_btm .con_btm_r .tit2{
	font-size: 10px;
	margin-top: 5px;
}
.content ul li .con_btm .con_btm_r .tit3{
	font-size: 12px;
	color: #666;
	margin-top: 5px;
}
